<article class="container">
    <p class="footer-brand">©letskickin 2013</p>
    <ul class="footer-menu">
        <li><a href="#">Condiciones de uso</a></li>
        <li><a href="#">Politica de privacidad</a></li>
    </ul>
    <ul class="footer-social">
        <li>
            <a href="http://facebook.com/Letskickin">
            {% image output="image/facebook.png"
                '@letskickinFrontBundle/Resources/image/landing/icon_social_facebook.png'
            %}
            <img src="{{ asset_url }}" class="logo" alt="letskickin en Facebook"/>
            {% endimage %}
            </a>
        </li>
        <li>
            <a href="http://twitter.com/Letskickin">
            {% image output="image/twitter.png"
                '@letskickinFrontBundle/Resources/image/landing/icon_social_twitter.png'
            %}
            <img src="{{ asset_url }}" class="logo" alt="letskickin en Twitter"/>
            {% endimage %}
            </a>
        </li>
        <li>
            <a href="http://linkedin.com/company/letskickin">
            {% image output="image/linkedin.png"
                '@letskickinFrontBundle/Resources/image/landing/icon_social_linkedin.png'
            %}
            <img src="{{ asset_url }}" class="logo" alt="letskickin en LinkedIn"/>
            {% endimage %}
            </a>
        </li>
        <li>
            <a href="http://plus.google.com/107462301305478609564">
            {% image output="image/google.png"
                '@letskickinFrontBundle/Resources/image/landing/icon_social_googleplus.png'
            %}
            <img src="{{ asset_url }}" class="logo" alt="letskickin en Google+"/>
            {% endimage %}
            </a>
        </li>
    </ul>
</article>