parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_socket:
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    node_path: /opt/boxen/nodenv/versions/v0.10.3/bin/node
    node_modules_path: /opt/boxen/nodenv/versions/v0.10.3/lib/node_modules
