{% extends '@Layouts/default.html.twig' %}

{% block content %}
    Hola {{ app.user|default("desconocido!") }}!

    <a href="{{ path("pot_create") }}">{{ "button.create"|trans({}, "landing") }}</a>
{% endblock %}