{% extends '@Layouts/frontend.html.twig' %}

{% block body_class %}{{ parent() ~ 'default-layout' }}{% endblock %}

{% block head_style %}
    {{ parent() }}

    <style>
        /*
         * Static topbar
         */
        body { padding-top: 80px; }

        /*
         * Sticky footer
         */
        html, body { height: 100%; }
        #app-wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -120px;
            padding: 0 0 120px;
        }
        .main-footer {
            min-height: 120px;
        }
    </style>
{% endblock %}

{% block body_content %}
    {% block wrap %}
    <div id="app-wrapper">
        {% block page_container %}
            {% block topbar %}{{ include('letskickinFrontBundle::blocks/topbar.html.twig') }}{% endblock %}

            {#<section id="page_top">{% block page_top %}{% endblock %}</section>#}

            <section id="page_content">{% block content %}{% endblock %}</section>

            <section id="page_bottom">{% block page_bottom %}{% endblock %}</section>
        {% endblock %}
    </div>
    {% endblock %}

    <footer class="main-footer">
    {% block footer %}{{ include('letskickinFrontBundle::blocks/footer.html.twig') }}{% endblock %}
    </footer>
{% endblock %}