#pot-show {
  .data-basic,
  .data-extended,
  .pot-extra-data,
  .pot-extra-money {
    .make-row();
  }

  .pot-occasion {
    .make-lg-column(8);
    .make-lg-column-offset(1);
  }

  .pot-participants-mini {
    .make-lg-column(2);

    margin-top: 2.5em;
  }

  .data-extended {
    margin-top: 1em;

    .pot-description,
    .pot-more-data {
      .make-lg-column(5);
    }

    .pot-description {
      .make-lg-column-offset(1);

      padding-right: @padding-xlarge-horizontal;
    }

    .pot-extra-money {
      margin-top: 1.2em;
    }

    .extra-section {
      .make-lg-column(6);

      .pot-amount-sum,
      .pot-amount-total {
        display: inline-block;
      }

      .pot-amount-total {
        .pull-right;
      }
    }
  }
}
